<ul>
  <li class=<%= active_page("contact", params[:action]) %> ><a href="/contact">Contact</a></li>
  <li class=<%= active_page("clients", params[:action]) %> ><a href="/clients">Clients</a></li>
  <li class=<%= active_page("support", params[:action]) %> ><a href="/support"> Support</a></li>
  <li class=<%= active_page("about", params[:action]) %> ><a href="/about">About us</a></li>
  <li class=<%= active_page("index", params[:action]) %> ><a href="/">Home</li>
</ul>